h3{
  font-family: 'IBM Plex Mono', monospace;

}
h1{
  font-family: 'Amatic SC', cursive;

}

.App {
  /* background: #200122; 
background: -webkit-linear-gradient(to right, #6f0000, #200122);
background: linear-gradient(to right, #6f0000, #200122); */

/* background: #000428;
background: -webkit-linear-gradient(to right, #004e92, #000428);
background: linear-gradient(to right, #004e92, #000428);  */

/* background: #536976;
background: -webkit-linear-gradient(to right, #292E49, #536976);
background: linear-gradient(to right, #292E49, #536976); */

background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
/* background: #23074d; 
background: -webkit-linear-gradient(to right, #cc5333, #23074d);
background: linear-gradient(to right, #cc5333, #23074d); */

  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  /* position: relative; */
}

.titulo{
  text-align: center;
  margin-top: 25px;
  color: white;
  text-shadow: 1px 2px 20px rgb(51, 51, 51);

}

.logo{
  width: 40px;
  height: 40px;
  text-shadow: 1px 2px 20px rgb(51, 51, 51);

}

.footer{
  font-size: 10px;
  position: absolute;
  text-align: center;
  color: white;
  align-self: flex-end;

}

.footer h6{
  font-family: 'Reenie Beanie', cursive;

}

.tela-pergunta{
  /* background-color: blueviolet; */
  width: 100%;
  height: 100%;
  position: absolute;
}



.pergunta{
  width: 500px;
  margin-top: 120px;
  margin-right: 5px;
  margin-left: 5px;

  position: absolute;

}


.resultado{
  color: black;
  /* background-image: url("/public/image/3.jpg"); */
 background-color: ghostwhite;
  max-width: 80%;
  margin-top: 120px;
  margin-right: 5px;
  margin-left: 5px;
text-align: center;
  position: absolute;

}




.modal{
  background-color: rgba(0, 0, 0, 0.705);
}

.close{
  color: white;
}

.borda-modal{
  /* background: #200122; 
  background: -webkit-linear-gradient(to right, #6f0000, #200122); 
  background: linear-gradient(to right, #6f0000, #200122); */

  /* background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428); 
  background: linear-gradient(to right, #004e92, #000428); */
  
  background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.modal-content{
  color: black;
  /* border: 5px dashed white; */
  /* background-image: url("/public/image/2.jpg"); */
  /* background-color: white; */
  border: none;
  border-radius: 0%;
  box-shadow: 1px 2px 20px rgb(51, 51, 51);
  
}

.modal-header{
  border-radius: 0%;
  border-bottom: none;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 0%);
  color: white;
  
}

.modal-dialog{
  background-size: cover;
  background-repeat: no-repeat;
}






.btn{
  margin: 2px;
  max-width: 400px;
}

/* Botão superior esquerdo */
.btnNavegacao{
  font-size: 40px;
  position: fixed;
	float: top;
	top: 15px;
	left: 25px;
  z-index: 100;
  
}


.btnAjuda, .btnRecomecar{
  color: rgb(255, 230, 0);
  display: inline-block;
  padding: 0px;
  text-shadow: 1px 2px 20px rgba(51, 51, 51, 0.678);

}

.btnCircular{
  border-radius: 50%;
}


.btnNavegacao :hover{
  font-size: 60px;
  color: rgb(255, 230, 0);
  
}





@media (max-width: 700px){
  .pergunta{
    width: 90%;
   
  }
  .btnNavegacao{
    top: 100px;
    left: 5px;
   
  }

}